{% extends 'pizza/base.html' %}
{% load crispy_forms_tags %}
{% block pizza %}
<div class="container">
    <div class="messages">
        {% if messages %}
                <div class="">
                    <ul>
                        {% for message in messages %}
                            <p{% if message.tags %} class="text-center alert alert-{{message.tags }}" {% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            Important:
                            {%endif %}
                            {{ message }}
                            </p>
                        {% endfor %}
                    </ul>
                </div>
        {% endif %}
    </div>
    <div style="text-align: center">
        {% if created_pizza_pk %}
            <button><a href="{% url 'edit_order' created_pizza_pk %}">Edit Your Order</a></button>
            <br>
        {% endif %}
    </div>        
</div>
<div class="container mt-3">
        <form action="{% url 'order' %}" method="POST">
                {% csrf_token %}
                {{ pizzaform|crispy }}
                <input type="submit" value="Order Pizza" class="btn btn-success">
        </form>
        <div class='my-5'>Do you want more than one pizza?</div>
        <form action="{% url 'pizzas' %}", method="GET">
            {{ multiple_form|crispy}}
            <input type="submit" value="Get Pizzas" class="btn btn-success">
        </form>
</div>
{% endblock pizza %}