{% extends 'pizza/base.html' %}
{% load crispy_forms_tags %}
{% block pizza %}
<div class="container mt-5">
<form action="" method="post" class="form-inline-blok bg-light p-3">
    {% csrf_token %}
    {{crispy}}
    <ul class="d-flex justify-content-start gap-3">
        {% for form in formset %}
        <li>
            {{form|crispy}}
        </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Order Pizza" class="btn btn-success mx-5">
</form>
</div>
{% endblock pizza %}
    